<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WTLYMBW3SN"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-WTLYMBW3SN');
</script>

<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="/img/favicons/favicon.ico">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#000000">
<link rel="apple-touch-icon" href="/img/favicons/logo192.png">
<link rel="manifest" href="/manifest.json">

<title><%=header.title%> - Anas Najaa</title>
<meta name="description" content="<%=header.description%>">

<meta itemprop="name" content="<%=header.title%> - Anas Najaa">
<meta itemprop="description" content="<%=header.description%>">
<meta itemprop="image" content="/img/logo.png">

<meta property="og:url" content="https://anas.najaa.org">
<meta property="og:type" content="website">
<meta property="og:title" content="<%=header.title%> - Anas Najaa">
<meta property="og:description" content="<%=header.description%>">
<meta property="og:image" content="/img/logo.png">

<meta name="twitter:card" content="<%=header.description%>">
<meta name="twitter:title" content="<%=header.title%> - Anas Najaa">
<meta name="twitter:description" content="<%=header.description%>">
<meta name="twitter:image" content="/img/logo.png">

<link href="/libs/bootstrap.min.css" rel="stylesheet">
<script src="/libs/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/25132a9bc3.js" crossorigin="anonymous"></script>
<script src="/libs/jquery-3.6.0.min.js"></script>
<script src="/js/app.js?v=1"></script>
<link href="/css/style.css?v=3" rel="stylesheet">