<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head', {header: {title: "Anas Najaa's Services FAQs", description: "Frequently Asked Questions about the services provided by Anas Najaa."}}); %>
</head>

<body>

    <header>
        <%- include('../partials/navigation', {page: "services", user: pd.user}); %>
    </header>

    <main>
        <div class="p-3 mt-5 container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 col-xl-8 mx-auto">
                    <h1><%=pd.page.title%></h1>
                    <%-pd.page.html%>
                </div>
            </div>
        </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>

</html>