<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head', {header: {title: "Anas Najaa's Services", description: "Get professional IT, Programming or Education help from Anas Najaa."}}); %>
</head>

<body>

    <header>
        <%- include('../partials/navigation', {page: "services", user: pd.user}); %>
    </header>

    <main>

        <div class="p-3 mt-5 container">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h1><%= pd.headerCard.title %></h1>
                        <p><%- pd.headerCard.html %></p>
                        <hr />
                        <div class="btn-group" role="group">
                            <a href="/services/request" class="btn btn-primary">Place a request</a>
                            <a href="/services/faq" target="_blank" class="btn btn-outline-secondary">FAQs</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="accordion" id="servicesAccordion">
                        <% for(i=0;i<pd.services.length;i++) { %>
                        <% const service = pd.services[i]; %>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="id_<%=service.id%>-heading">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#id_<%=service.id%>-collapse"
                                    aria-expanded="<%= i===0 ? "true" : "false" %>"
                                    aria-controls="id_<%=service.id%>-collapse">
                                    <%= service.title %>
                                </button>
                            </h2>
                            <div id="id_<%=service.id%>-collapse"
                                class="accordion-collapse collapse <%= i===0 ? "show" : ""%>"
                                aria-labelledby="id_<%=service.id%>-heading" data-bs-parent="#servicesAccordion">
                                <div class="accordion-body">
                                    <%- service.html %>
                                    <hr />
                                    <div class="btn-group" role="group">
                                        <a href="/services/request" class="btn btn-primary">Place a request</a>
                                        <a href="/services/faq" target="_blank"
                                            class="btn btn-outline-secondary">FAQs</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>